* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /*background-color: #FFF5E4;*/
    background-color: #ffffff;
    font-size: medium;
    font-weight: 500;
}

.logo {
    display: flex;
    margin-left: 120px;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    
    

}
.logo img {
    width: 25px;
    height: 25px;
}

.Menu ul {
    display: flex;
    padding: 20px 0;
}

.Menu ul li {
    list-style: none;
    margin-right: 25px;
    font-family: 'Poppins', sans-serif;
    color: #16213E;

}

.Menu ul li:last-child {
    margin-right: 0px;
}

.Menu ul li a {
    color: #16213E;
    text-decoration: none;
}

.ReservationBtn {
    display: flex;
    background: #ff4500;
    padding: 15px 60px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    justify-content: center;
}
.heroSection{
    display: flex;
    background:  #16213E;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
}
.heroSectionLeft{
    background: white;
    height: 100%;
    width: 50%;
    position: relative;
}
.heroSectionRight img{
    background-image: url(../images/round-shape.png);
    height: 100%;
    width: 100%;
}
.heroSectionLeftSentence{
    margin-top: 100px;
    margin-left: 120px;
}
.heroSectionLeftText1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;    
    color: #16213E;
    line-height: 98%;
    width: 5px;
}
.heroSectionLeftText2{
    font-family: 'Reem Kufi Fun', sans-serif;   
    color: #16213E;

}
.hero-roundShape{
    position: absolute;
    top: 50px;
    left: 300px;
}
.hero-roundShape img{
    width: 80%;
}
.hero-facilities{
    margin-top: 70px;
    display:flex;
}
.car{
    margin-right: 12px;
    border-radius: 12px;
}
.bus{
    margin-right: 12px;
    border-radius: 12px;
}
.Hero-resevation-form{
    display: flex;
    height: 500px;
    width: 1000px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;


}
.hero-reservation-btn{
    border: none;
}

